<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlueGecko Home</title>

    </head>

    <body>
        <h1>Welcome to BlueGecko ecommerce</h1>
        <br>
        <h2>Here is the list of categories</h2>
        {% block categorycontent %}
        {% if categories %}

            {% for category in categories %}
                <li><a href="{% url 'products:category-prod-list' category_id=category.id %}"> {{ category.category_name }}</a></li>
            {% endfor %}
        {% else %}
            <p>No categories currently saved.</p>
        {% endif %}
        {% endblock %}

    </body>
</html>