<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlueGecko Home</title>

    </head>

    <body>
        <h1>Welcome to BlueGecko ecommerce</h1>
        <br>
        <h2>Here is the list of categories</h2>
        {% if all_categories %}
            <ul>
                {% for category in all_categories %}
                    <li><a href="{% url 'products:CategoryView' category.id %}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No categories are available.</p>
            {% endif %}

    </body>
</html>